/* Универсальный селектор *, который применяется ко всем элементам */
* {
    /* Изменить размер текста */
    font-size: 20px; 
}
/* Селектор HTM-тега */
body {
    /* Установка цвета фона */
    background-color: #998c8c;
}
/* Селектор класса */
.zagolovok
{
    /* Установка цвета текста */
    color: orange;
}

.example_block{
    background-color: wheat;
}
/* Селектор ID */
#id1
{
    color: green;
}

.example_block3{
    color: yellow;
}

.example_block1 {
    /* Установка обводки элемента */
    border: 2px solid black;
    /* Установка скругления обводки */
    border-radius: 5px;

    /* Внутренний отступ элемента */
    padding: 10px 15px;
    /* Установка внешнего отступа */
    margin: 10px 0;
}